idea
node_modules
covid.json
contact.ejs
welcome.svg
defunciones.js
positivos.js
sospechosos.
200710COVID19MEXICO.csv
covid.csv
covid_filtrado.csv
datos_abiertos_covid19.zip
covidFiltradoxMunucupio.csv
data.json

