<html>

	<head>
		<title><%= title%></title>
		<meta charset="utf-8">

		<% include partials/head.ejs %>
	</head>


	<body>
    <% include partials/navigation.ejs %>
    <div class="col temp">

    </div>
    <% include partials/footer.ejs%>



    </body>
</html>