<html>

	<head>
		<title><%= title%></title>
		<meta charset="utf-8">

		<% include partials/head.ejs %>
	</head>


	<body>
	<% include partials/navigation.ejs %>
	<div class="container div-acerca-de">
		<div class="row">
			<div class="col s12 m12">
				<h4>¿Por que Juquila.info?</h4>
				<p>
					La página <a href="#">coronavirus.gob.mx</a> (<em>Sitio web oficial del gobierno</em>) recibe una gran cantidad de
					visitas por segundo de personas como tú o como yo con la intención de estar informados, debido a la gran catidad de
					infromación que se tiene que procesar hace que el sitio web se demore algunos segundos en mostrar la información
					requerida, por otra parte, solo muestran un pequeño resumen de toda la información recopilada, es por eso que se creó
					el sitio web <a href="/">Juquila.info</a>.
				</p>
				<p>
					En Juquila.info obtenemos toda la información detallada y actualizada de la base de datos pública que la Dirección
					General de Epidemiología (DGE) publicó en su sitio web, procesamos toda la información en nuestros servidores y la
					filtramos para mostrar solo detalles de Santa Catarina Juquila.
				</p>
				<h5>Privacidad</h5>
				<p>
					A pesar de que <a href="/">Juquila.info</a> maneja información detallada sobre los pacientes, estos siguen estando en completo
					anonimato, ya solo mostramos la información pública que la <a href="#">Dirección General de Epidemiología</a> sube a su sitio web.
					En ningún momento obtenemos los nombres de los pacientes, ni su dirección.
				</p>
				<h5>Preguntas frecuentes</h5>
				<p>
					Si tienes dudas acerca de como se procesa toda la información, inquietud, sugerencia o alguna otra duda en general puedes visitar la sección
					<a href="/preguntas-frecuentes">Preguntas frecuentes</a>.
				</p>
				<h5>Colabora</h5>
				<p>
					Si gustas hacer una aportación al sitio web, o tines alguna idea para mejorarlo dirigete a la sección
					<a href="/colaborar">Colabora</a> para obtener mayor información de como puedes ayudar.
				</p>
				<h5>Comparte</h5>
				<p>
					También puedes apoyar muchisimo compartiendo el sitio web con tus amigos y familiares, nos ayuda a llegar a más personas e
					informarlos acerca del covid.
				</p>
				<p>
					Ya si lo deseas puedes invitarme un café como agradecimiento por el tiempo y la dedicación que le he invertido a esta página,
					puedes hacerlo dando click en el botón de abajo. <b><em>Muchas graciaaaaas!!!</em></b>
				</p>
				<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
				<script type='text/javascript'>
					kofiwidget2.init('Invítame un café', '#29abe0', 'D1D81YJQT');kofiwidget2.draw();
				</script>
			</div>
		</div>
	</div>
    <% include partials/footer.ejs%>



    </body>
</html>