<!DOCTYPE html>
<html>

	<head>
		<title><%= title%></title>
		<meta charset="utf-8">
		<% include partials/head.ejs %>
	</head>

<script>
  const dropDownLenguaje = document.querySelectorAll(".dropdown-trigger");
  const instance = M.Dropdown.init(dropDownLenguaje);
</script>
	<body>
    <% include partials/navigation.ejs %>

    <div class="container white content-api">
        <div class="row">
            <div class="col s12 m12">
                <h4>Rest API - Covid 19 Juquila</h4>
            </div>
            <div class="col s12 m12">
                <h5 class="">¿Por que usar nuestra API Rest?</h5>
                <h6 class="subtitles-api-h6">Talento local</h6>
                <span class="subtitles-api-span">Apoya el talento local para.</span>
                <h6 class="subtitles-api-h6">Datos más recientes</h6>
                <span class="subtitles-api-span">Datos que se actualizan automáticamente todos los dias.</span>
                <h6 class="subtitles-api-h6">Gratis</h6>
                <span class="subtitles-api-span">Usa la API gratuitamente, sin limite de peticiones.</span>
                <h6 class="subtitles-api-h6">JSON</h6>
                <span class="subtitles-api-span">Todas las respuestas están en formato JSON para facilitar cualquier integración.</span>
                <h6 class="subtitles-api-h6">Construye</h6>
                <span class="subtitles-api-span">Colobora con nosotros o contruye tu propia interfaz.</span>
            </div>
        </div>
    </div>

    <div class="container white content-api">
        <div class="row">
            <div class="col s12 m12">
                <h4>Documentación</h4>
                <h6>REST - API JSON</h6>
                <span>* Para ver el catálago de las varaibles ve a <a href="/datos">DATOS</a></span>
                <br>
                <span>** Todas las consultas responden un formato JSON</span>
                <div class="section"></div>
                <div class="divider"></div>
                <div class="section"></div>
            </div>
            
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.dropdown-trigger');
                var instances = M.Dropdown.init(elems);
                });
            </script>

            <% include partials/get/getData.ejs %>
            
            <% include partials/get/getPositivos.ejs %>

            <% include partials/get/getNegativos.ejs %>

            <% include partials/get/getSospechosos.ejs %>

            <% include partials/get/getDefunciones.ejs %>

        </div>
    </div>

    </body>
    
    <% include partials/footer.ejs%>