<!DOCTYPE html>
<html>

	<head>
		<title><%= title%></title>
		<meta charset="utf-8">
		<% include partials/head.ejs %>
	</head>


	<body>
    <% include partials/navigation.ejs %>

    <div class="container white content-api">
        <div class="row">
            <div class="col s12 m12">
                <h4>Rest API - Covid 19 Juquila</h4>
            </div>
            <div class="col s12 m12">
                <h5>¿Por usar nuestra API Rest?</h5>
                <h6>Talento local</h6>
                <span>Apoya el talento local para.</span>
                <h6>Datos más recientes</h6>
                <span>Datos que se actualizan automáticamente todos los dias.</span>
                <h6>Gratis</h6>
                <span>Usa la API gratuitamente, sin limite de peticiones.</span>
                <h6>JSON</h6>
                <span>Todas las respuestas están en formato JSON para facilitar cualquier integración.</span>
                <h6>Construye</h6>
                <span>Colobora con nosotros o contruye tu propia interfaz.</span>
            </div>
    
            <div class="col s12 m12">
                <h4>Documentación</h4>
                <p>* Para ver el catálago de las varaibles ve a <a href="/datos">DATOS</a></p>
            </div>
            <div class="col s4 m4 white">
                hola
            </div>
            <div class="col s8 m8 black">
                hola
            </div>
        </div>
    </div>



















    </body>
    
    <% include partials/footer.ejs%>