<html>

	<head>
		<title><%= title%></title>
		<meta charset="utf-8">

		<% include partials/head.ejs %>
	</head>


	<body>
    <% include partials/navigation.ejs %>
    <div class="col s12 temp">
        <div class="hi">
            <h3>Sección en construcción</h3>
            <a href="/"><h5>Volver</h5></a>
        </div>
    </div>
    <% include partials/footer.ejs%>



    </body>
</html>