<!DOCTYPE html>
<html>

	<head>
		<title><%= title%></title>
		<meta charset="utf-8">

		<% include partials/head.ejs %>
	</head>


	<body>
    <% include partials/navigation.ejs %>
     

    <div class="container welcome">
        <div class="row">
            <div class="col m 12">
                <h1>Bienvenido...</h1>
                <span class="sectionWel">En este sitio encontrarás información</span>
                <br>
                <span class="sectionWel">detallada sobre el </span><span class="sectionWel welcome-covid">covid-19 en Juquila</span>
            </div>
        </div>
    </div>

    

    <% include partials/sectionDatos.ejs%>

    

    <% include partials/footer.ejs%>



	</body>
</html>