<!DOCTYPE html>
<html>

	<head>
		<title><%= title%></title>
		<meta charset="utf-8">
        <meta property="og:url" content="https://www.juquila.info"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="Juquila.info"/>
        <meta property="og:description" content="Conoce toda la información detallada y actualizada acerca del COVID-19 (coronavirus) en Santa Catarian Juquila"/>
        <meta property="og:image" content="https://www.juquila.info/img/Juquila-Covid.jpeg"/>
		<% include partials/head.ejs %>
	</head>


	<body>
    <% include partials/navigation.ejs %>

    <!--btn share-->
    <a href="https://www.juquila.info" class="sharing boton-compartir">
        <i class="material-icons">share</i>
    </a>
    <script>
        /**** Scirpt share */
        if(navigator.share){
            document.querySelectorAll("a.sharing").forEach(el => {
                el.addEventListener("click",function(ev){
                    ev.preventDefault();

                    const url = this.href;
                    navigator.share({
                        title: "Juquila.info",
                        url: url
                    });
                    return false;
                })
            })
        }
    </script>

    <div class="container welcome">
        <div class="row">
            <div class="col m 12">
                <h1>Bienvenido...</h1>
                <span class="sectionWel">En este sitio encontrarás información</span>
                <br>
                <span class="sectionWel">detallada sobre el </span><span class="sectionWel welcome-covid">covid-19 en Juquila</span>
                <!--<div class="div-img">
                    <img class="responsive-img" src="/img/Juquila-Covid.jpeg" alt="Banner covid-19 en Juquila">
                --></div>
            </div>
        </div>
    </div>

    

    <% include partials/sectionDatos.ejs%>
    <% include partials/datosAdetalle.ejs%>

    

    <% include partials/footer.ejs%>



	</body>
</html>