/* TEmporal */
.div-acerca-de{
	background-color: #fff;
	border-radius: 10px;
	padding: 10px 20px;
	margin-top: 35px;
}


/**  TIPOGRAFÍAS  **/
@font-face {
	font-family: Roboto_Slab;
	src: url(../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}

/*  boton compartir */
.boton-compartir {
	position: fixed;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	right: 1em;
	bottom: 1em;
}

body {
	background: url(../img/wave.svg);
	background-repeat: no-repeat;
	background-size: 100%;
    background-color: #f3f4f5;
	background-attachment: fixed;
	background-position: 0px 56px;
}

.background-color-primary {
	background: #00cba9;
}


/* ------------------ HOME -----------*/
/* ========== welcome ==========*/
.welcome{
height: 100vh;
}

.welcome-covid{
	color: #00cba9;
}

.text-color-primary {
	color: #00cba9;
}

.sectionWel{
	font-size: 2.5em;
}

/* ------------------ HOME -----------*/
/* ========== datos ==========*/

.datos{
	/*height: 100vh;
	background: url(../img/wave3.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #fff;*/
	padding-top: 15px !important;
	border-radius: 13px;
	padding-bottom: 10px !important;
}

.title-municipio{
	font-weight: 800;
	font-size: 25px;
}

.resumen-title{
	width: 85%;
	margin: auto !important;
}

h4 {
	font-weight: 900;
	font-size: 30px;
}
.card-datos {
	background: url(../img/wav4.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
	background-color: #f3f4f5;
	height: 100px;
	width: 85%;
	border-radius: 10px;
	margin-top: 15px !important;
	display: flex;
	margin: auto;
	color: #000;
}

.card-datos:hover{
	width: 90%;
}

.card-datos span {
	font-size: 20px;
	font-weight: 900;
	font-family: Roboto_Slab;
}

.total {
	font-size: 15px !important;
	font-weight: 700 !important;
}

.title-card{
	margin: auto;
}

.content-card{
	margin: auto;
}

#casosAnalizados:hover {
	color: #fff;
	background-color: #00838f;
}

#casosPositivos:hover {
	color: #fff;
	background-color: #ff5252;
}

#casosNegativos:hover {
	color: #fff;
	background-color: #00c853;
}

#casosSospechosos:hover {
	color: #fff;
	background-color: #ff6d00;
}

#Defunciones:hover {
	color: #fff;
	background-color: #212121;
}



/* ------------------ HOME -----------*/
/* ========== welcome ==========*/
.background{
		background: url(../img/wave2.svg) !important;
		background-size: 100% !important;
		background-repeat: no-repeat !important;
		height: 10.5vh;
}
.footer-background{
    background-color: teal !important;
}


/************** == SECTION API == ******/
.content-api{
	margin-top: 15px;
	border-radius: 12px;
}

.datosAdetalle {
	border-radius: 10px;
}


/** =========== SECTION API ============== */

.subtitles-api-h6 {
	font-size: 2em;
	color: #00bcd4;
	font-weight: 500;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.subtitles-api-span {
	color: #000;
	font-size: 1.3em;
	font-weight: 900;
	font-family: monospace;
}