<div class="section"></div>
<div class="container z-depth-1 datosAdetalle">
    <div class="row">
        <div class="col s12">
            <h4>Datos a detalle de Casos positivos</h4>
        </div>
        <div class="col s12">
            <a class="waves-effect waves-light btn" onclick="detalle()">Mostar datos</a>
            <a class="waves-effect waves-light btn" onclick="ocultar()">Ocultar datos</a>

            <div class="col s12">
                
                <table class="responsive-tabl">
                    <thead>
                      <tr>
                          <th>#Id</th>
                          <th>Edad</th>
                          <th>Sexo</th>
                          <th>Fecha de sintomas</th>
                          <!--<th>Fecha de ingreso</th>-->
                          <th>Fecha de defunción</th>
                      </tr>
                    </thead>
            
                    <tbody id="datosAdetalle">
                      
                    </tbody>
                  </table>
                        

            </div>
        </div>
    </div>
</div>