<!-- SECTION ONE -->

    <div class="container datos z-depth-1">
        <div class="row">

            <div class="col s12 m12 l12" id="fechaActualizacion">
                <div style="padding: 2px 8px 0 10px;" id="fechaActualizacion">
                    <span class="title-municipio">Municipio [364] - </span>
                    <h4 class="title-municipio">Santa Catarina Juquila</h4>
                    <p><b>* </b><em><strong>Datos obtenidos de la Dirección General de Epidemiología (<a href="#">DGE</a>)</strong></em></p>    
                    <span>Fecha de actualización: </span>

                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="z-depth-5 card-datos background-color-primary waves-effect waves-light btn-large" id="casosAnalizados">
                    <div class="titel-card">
                        <span class="total!">Casos analizados:</span>
                    </div>
                    <div class="content-card" id="printTotalDatosAnalizados">
                    </div>
                </div>
            </div>  

            <div class="col s12 m6 l4">
                <div class="z-depth-5 card-datos background-color-primary waves-effect waves-light btn-large" id="casosPositivos">
                    <div class="title-card">
                        <span class="title-card">Positivos: </span>
                    </div>
                    <div class="content-card" id="printCasosPositivos">
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="z-depth-5 card-datos background-color-primary waves-effect waves-light btn-large" id="casosPositivos">
                    <div class="title-card">
                        <span class="title-card">Negativos: </span>
                    </div>
                    <div class="content-card" id="printCasosNegativos">
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="z-depth-5 card-datos background-color-primary waves-effect waves-light btn-large" id="casosPositivos">
                    <div class="title-card">
                        <span class="title-card">Sospechosos: </span>
                    </div>
                    <div class="content-card" id="printCasosSospechosos">
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="z-depth-5 card-datos background-color-primary waves-effect waves-light btn-large" id="casosPositivos">
                    <div class="title-card">
                        <span class="title-card">Defunciones: </span>
                    </div>
                    <div class="content-card" id="printDefunciones">
                    </div>
                </div>
            </div>
        <!--
            <div class="col s12 m6 l4">
                <div class="z-depth-5 card-datos background-color-primary waves-effect waves-light btn-large" id="casosPositivos">
                    <div class="title-card">
                        <span class="title-card">Activos: </span>
                    </div>
                    <div class="content-card" id="printCasosActivos">
                    </div>
                </div>
            </div>
        
            <div class="col s12 m6 l4">
                <div class="z-depth-5 card-datos background-color-primary waves-effect waves-light btn-large" id="casosPositivos">
                    <div class="title-card">
                        <span class="title-card">Casos Recuperados:</span>
                    </div>
                    <div class="content-card" id="printCasosRecuperados">
                    </div>
                </div>
            </div>
        -->

                   
        </div>
    </div>